<style>
    img {
        width: 350px;
        margin-left: 25%;
    }
</style>


<h1>404 Error</h1>

<h3>Check out these categories
</h3>
'animal',
'career',
'celebrity',
'dev',
'explicit',
'fashion',
'food',
'history',
'money',
'movie',
'music',
'political',
'religion',
'science',
'sport',
'travel'


<img src="chuck-norris.jpg" alt="Finger Wag Chuck">