<style>
    h3,
    h2 {
        text-align: center;
    }

    img {
        text-align: center;
    }
</style>

<h3>Sometimes you just need a few random facts about ol' Chuck</h3>
<br>
<h2>That's why we're here</h2>

<img src="d.png" alt="Rambo Chuck">