<style>
    img {
        float: right;
        margin-right: 25%;
    }

    button {
        margin: 15px;
    }
</style>

<h1>Categories</h1>

<br>


<img src="g.jpg" alt="Rambo Chuck">

<form action="">
    <button class="btn btn-outline-success " type="submit" id="animal" name="animal" formaction="/animal">Animal</a>
        <br>
        <button class="btn btn-outline-success " type="submit" id="career" name="career" formaction="/career">Career</a>
            <br>
            <button class="btn btn-outline-success " type="submit" id="celebrity" name="celebrity"
                formaction="/celebrity">Celebrity</a>
                <br>
                <button class="btn btn-outline-success " type="submit" id="dev" name="dev" formaction="/dev">Dev</a>
                    <br>
                    <button class="btn btn-outline-success " type="submit" id="explicity" name="explicity"
                        formaction="/explicity">Explicity</a>
                        <br>
                        <button class="btn btn-outline-success " type="submit" id="fashion"" name=" fashion""
                            formaction="/fashion">Fashion</a>
                            <br>
                            <button class="btn btn-outline-success " type="submit" id="food" name="food"
                                formaction="/food">Food</a>
                                <br>
                                <button class="btn btn-outline-success" type="submit" id="history" name="history"
                                    formaction="/history">History</a>
                                    <br>
                                    <button class="btn btn-outline-success " type="submit" id="money" name="money"
                                        formaction="/money">Money</a>
                                        <br>
                                        <button class="btn btn-outline-success" type="submit" id="movie" name="movie"
                                            formaction="/movie">Movie</a>
                                            <br>
                                            <button class="btn btn-outline-success" type="submit" id="music"
                                                name="music" formaction="/music">Music</a>
                                                <br>
                                                <button class="btn btn-outline-success " type="submit" id="political"
                                                    name="political" formaction="/political">Political</a>
                                                    <br>
                                                    <button class="btn btn-outline-success " type="submit" id="religion"
                                                        name="religion" formaction="/religion">Religion</a>
                                                        <br>
                                                        <button class="btn btn-outline-success " type="submit"
                                                            id="science" name="science"
                                                            formaction="/science">Science</a>
                                                            <br>
                                                            <button class="btn btn-outline-success " type="submit"
                                                                id="sport" name="sport" formaction="/sport">Sport</a>
                                                                <br>
                                                                <button class="btn btn-outline-success " type="submit"
                                                                    id="travel" name="travel"
                                                                    formaction="/travel">Travel</a>
</form>
<br>