<style>
    img {
        width: 350px;
    }
</style>

<div class="jumbotron text-center">
    <img src="chuck.png" alt="Rambo Chuck">

    <br>
    <form method="get" action="/">

        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Hit Me!</button>
    </form>
    <br>
    <br>
    <h2>{{this.param}}</h2>
    <br>
    <br>
    <h3 class="lead">Fact: {{this.output}}</h3>
</div>